p {
  text-align: center;
  /* display: inline-block; */
}

html {
  background-color: turquoise;
}

.big-flex {
  display: flex;
  flex-direction: row;
}

.push-in {
  background-color: black;
  margin-top: 0;
  border-radius: 10px;
}

img {
  border-radius: 46%;
}

li {
  display: inline;
  padding: 15px;
  margin: 5px;
}

.left-col-sticky {
  background-color: salmon;
  position: fixed;
  width: 22em;
  height: 100%;
  border-radius: 0 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

/* .flex-spacer {
  flex: 1;
  display: flex;
} */

.right-col-content {
  position: fixed;
  width: 80%;
  left: 20%;
}

@media screen and (max-width: 1397px) {
  .big-flex {
    flex-direction: column;
  }
  .left-col-sticky {
    position: static;
    width: 100%;
  }
  .right-col-content {
    position: static;
    width: 100%;
  }
  .push-in {
    width: fit-content;
  }
}
